<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png"/>
  <span>Hello, {{name}}</span>
  <br/>
  <span> Here is the link to reset your password:</span>
  <br/>
  <span><a href="{{link}}">{{link}}</a></span>
  <br/>
  <br/>
  <span>If you didn't requested the password reset, ignore this email.</span>
</div>